@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 5px;
  padding: 5px;
  box-sizing: inherit;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  background-color: #d3d3d3;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 64px;
  text-align: center;
}

.button {
  width: 300px;
  height: 30px;
  background-color: #778699;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-top: 13px;
  cursor: pointer;
}

.guess {
  background: none;
  border: 3px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 0.5rem;
  width: 15rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.check {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 0.9rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
