body {
  background-color: #d3d3d3;
  align-items: center;
  text-align: center;
}

h1 {
  font-family: 'Josefin Sans';
  font-size: 64px;
  text-align: center;
}

.button {
  width: 336px;
  height: 60px;
  background-color: #778699;
}

.text {
  text-align: center;
}
